<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logotipo do MicroCode"
            loading="lazy"
            class="logo"
        />
        <h3>
            Programe seu micro:bit V2 com o MicroCode!
            <button>Fechar</button>
        </h3>
        <ol>
            <li>
                Conecte seu micro:bit <b>V2</b>
                ao seu computador usando o cabo USB. (micro:bit V1 não é
                suportado)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Baixe o MicroCode</a
>
                para a unidade <code>MICROBIT</code>.
            </li>
            <li>Espere o micro:bit reiniciar.</li>
            <li>
                <button class="webusbBtn">Conecte</button>, escolha "BBC
                micro:bit CMSIS-DAP" e pressione "Conectar" na caixa de diálogo.
            </li>
            <li>Use o editor para dar vida ao micro:bit!</li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logotipo do MicroCode"
            loading="lazy"
            class="logo"
        />
        <h2>
            Este navegador não suporta download para o micro:bit.
            <button>Fechar</button>
        </h2>
        <p>
            O MicroCode usa
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            para baixar código para o micro:bit. Para ativar esse recurso, use
            Microsoft Edge, Google Chrome ou
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            para encontrar um navegador compatível.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logotipo do MicroCode"
            loading="lazy"
        />
        <h2>
            Você precisa atualizar o MicroCode em seu micro:bit!
            <button>Fechar</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Baixe o MicroCode</a
>
                para a unidade <code>MICROBIT</code>.
            </li>
            <li>Espere o micro:bit reiniciar.</li>
            <li>
                <button class="webusbBtn">Conecte</button>, escolha "BBC
                micro:bit CMSIS-DAP" e pressione "Conectar" na caixa de diálogo.
            </li>
        </ol>
    </form>
</dialog>
