<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo de MicroCode"
            loading="lazy"
            class="logo"
        />
        <h3>
            ¡Programa tu micro:bit V2 con MicroCode!
            <button>Cerrar</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >Descarga MicroCode</a
>
                en la unidad <code>MICROBIT</code>.
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">Conecta</button>, elige "BBC
                micro:bit CMSIS-DAP" y pulsa "Conectar" en el diálogo.
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo de MicroCode"
            loading="lazy"
            class="logo"
        />
        <h2>
            Este navegador no soporta descargar a micro:bit.
            <button>Cerrar</button>
        </h2>
        <p>
            MicroCode usa
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            para descargar el código al micro:bit. Para habilitar esta función, utilice
            Microsoft Edge, Google Chrome o
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            para encontrar un navegador compatible.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo de MicroCode"
            loading="lazy"
        />
        <h2>
            ¡Necesitas actualizar MicroCode en tu micro:bit!
            <button>Cerrar</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Descarga MicroCode</a
>
                en la unidad <code>MICROBIT</code>.
            </li>
            <li>Espere a que el micro:bit se reinicie.</li>
            <li>
                <button class="webusbBtn">Conecta</button>, elige "BBC
                micro:bit CMSIS-DAP" y pulsa "Conectar" en el diálogo.
            </li>
        </ol>
    </form>
</dialog>
