<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h3>
            MicroCode로 micro:bit를 프로그래밍하세요!
            <button>닫기</button>
        </h3>
        <ol>
            <li>
                USB 케이블을 사용하여 micro:bit <b>V2</b>를
                컴퓨터에 연결하세요. (micro:bit V1은
                지원하지 않음)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>MicroCode</a
>를 다운로드하여
                <code>MICROBIT</code> 드라이브를 설치하세요.
            </li>
            <li>micro:bit가 다시 시작할 때까지 기다리세요.</li>
            <li>
                <button class="webusbBtn">연결</button>, "BBC micro:bit
                CMSIS-DAP"를 선택하고 "연결"을 누르세요.
            </li>
            <li>이 편집기를 사용하여 micro:bit에 활기를 불어넣어 보세요!</li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h2>
            이 브라우저는 micro:bit에 다운로드를 지원하지 않습니다.
            <button>닫기</button>
        </h2>
        <p>
            MicroCode는
            micro:bit에 코드를 다운로드하기 위해
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>를 사용합니다. 이 기능을 활성화하려면 다음 브라우저를 사용하세요:
            Microsoft Edge, Google Chrome
            또는 <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>에서
            지원되는 브라우저 찾기
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
        />
        <h2>
            micro:bit에서 MicroCode를 업데이트해야 합니다!
            <button>닫기</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>MicroCode</a
>를 다운로드하여
                <code>MICROBIT</code> 드라이브를 설치하세요.
            </li>
            <li>micro:bit가 다시 시작할 때까지 기다리세요.</li>
            <li>
                <button class="webusbBtn">연결</button>, "BBC micro:bit
                CMSIS-DAP"를 선택하고 "연결"을 누르세요.
            </li>
        </ol>
    </form>
</dialog>
