<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCodeロゴ"
            loading="lazy"
            class="logo"
        />
        <h3>
            MicroCodeでmicro:bit V2をプログラムしよう！
            <button>閉じる</button>
        </h3>
        <ol>
            <li>
                micro:bit <b>V2</b>をUSBケーブルでコンピュータに接続します。 (micro:bit V1はサポートされていません)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>MicroCode</a
>を<code>MICROBIT</code>ドライブにダウンロードします。
            </li>
            <li>micro:bitが再起動するのを待ちます。</li>
            <li>
                <button class="webusbBtn">接続</button>、「BBC micro:bit CMSIS-DAP」を選択し、ダイアログで「接続」を押します。
            </li>
            <li>エディターを使ってmicro:bitに命を吹き込みましょう！</li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCodeロゴ"
            loading="lazy"
            class="logo"
        />
        <h2>
            このブラウザはmicro:bitへのダウンロードをサポートしていません。
            <button>閉じる</button>
        </h2>
        <p>
            MicroCodeは、<a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>を使ってプログラムをmicro:bitにダウンロードします。 この機能を有効にするには、Microsoft EdgeやGoogle Chromeを使用するか、<a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>で互換性のあるブラウザを見つけてください。
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCodeロゴ"
            loading="lazy"
        />
        <h2>
            micro:bitのMicroCodeをアップデートする必要があります！
            <button>閉じる</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>MicroCode</a
>を<code>MICROBIT</code>ドライブにダウンロードします。
            </li>
            <li>micro:bitが再起動するのを待ちます。</li>
            <li>
                <button class="webusbBtn">接続</button>、「BBC micro:bit CMSIS-DAP」を選択し、ダイアログで「接続」を押します。
            </li>
        </ol>
    </form>
</dialog>
