<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h3>
            Programa el teu micro:bit V2 amb MicroCode!
            <button>Tanca</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >Descarrega el MicroCode </a
>
                a la unitat de la <code>MICROBIT </code>.
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">Connecta</button>, tria "BBC
                micro:bit CMSIS-DAP" i prem "Connecta" en la casella de diàleg.
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h2>
            Aquest navegador no permet la descàrrega a la micro:bit.
            <button>Tanca</button>
        </h2>
        <p>
            MicroCode utilitza
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
             per descarregar el codi a la micro:bit. Per habilitar aquesta característica, utilitza
            Microsoft Edge, Google Chrome o
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            per trobar un navegador compatible.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
        />
        <h2>
            Has d'actualitzar MicroCode a la vostre micro:bit!
            <button>Tanca</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Descarrega el MicroCode </a
>
                a la unitat de la <code>MICROBIT </code>.
            </li>
            <li>Espera que es reiniciï la micro:bit.</li>
            <li>
                <button class="webusbBtn">Connecta</button>, tria "BBC
                micro:bit CMSIS-DAP" i prem "Connecta" en la casella de diàleg.
            </li>
        </ol>
    </form>
</dialog>
