<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h3>
            Program your micro:bit V2 with MicroCode!
            <button>Close</button>
        </h3>
        <ol>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer using the USB cable. (micro:bit V1 is
                not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
                    >Download MicroCode</a
                >
                to the <code>MICROBIT</code> drive.
            </li>
            <li>Wait for the micro:bit to restart.</li>
            <li>
                <button id="webusbBtn">Connect</button>, choose "BBC
                micro:bit CMSIS-DAP" and press "Connect" in the dialog.
            </li>
            <li>
                Use the editor to bring the micro:bit to life!
            </li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h2>
            This browser does not support download to the micro:bit.
            <button>Close</button>
        </h2>
        <p>
            MicroCode uses
            <a
                href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
            >
            to download code to the micro:bit. To enable this feature,
            use Microsoft Edge, Google Chrome or
            <a href="https://caniuse.com/webusb"
                >https://caniuse.com/webusb</a
            >
            to find a compatible browser.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
        />
        <h2>
            You need to update MicroCode on your micro:bit!
            <button>Close</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
                    >Download MicroCode</a
                >
                to the <code>MICROBIT</code> drive.
            </li>
            <li>Wait for the micro:bit to restart</li>
            <li>
                <button id="webusbBtn2">Connect</button>, choose "BBC
                micro:bit CMSIS-DAP" and press 'Connect' in the dialog.
            </li>
        </ol>
    </form>
</dialog>