<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode 標誌"
            loading="lazy"
            class="logo"
        />
        <h3>
            使用 MicroCode 對你的 micro:bit V2 進行編程！
            <button>關閉</button>
        </h3>
        <ol>
            <li>
                使用USB線將你的 micro:bit <b>V2</b>
                連接到電腦。 (不支援 micro:bit V1)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>將 MicroCode</a
>
                下載到 <code>MICROBIT</code>磁碟機。
            </li>
            <li>請等待 micro:bit 重啟。</li>
            <li>
                <button class="webusbBtn">連接</button>，選擇"BBC
                micro:bit CMSIS-DAP"並在對話框裡按連接。
            </li>
            <li>使用編輯器為 micro:bit 注入生命。</li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode 標誌"
            loading="lazy"
            class="logo"
        />
        <h2>
            此瀏覽器不支援下載檔案到 micro:bit。
            <button>關閉</button>
        </h2>
        <p>
            MicroCode 使用
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            將程序下載到 micro:bit。 若要啟用此功能，請使用
            Microsoft Edge，Google Chrome或
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            查找兼容的瀏覽器。
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode 標誌"
            loading="lazy"
        />
        <h2>
            請更新 micro:bit 上的 MicroCode!
            <button>關閉</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>將 MicroCode</a
>
                下載到 <code>MICROBIT</code>磁碟機。
            </li>
            <li>請等待 micro:bit 重啟。</li>
            <li>
                <button class="webusbBtn">連接</button>，選擇"BBC
                micro:bit CMSIS-DAP"並在對話框裡按連接。
            </li>
        </ol>
    </form>
</dialog>
