<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo MicroCode"
            loading="lazy"
            class="logo"
        />
        <h3>
            Zaprogramuj swój micro:bit V2 za pomocą MicroCode!
            <button>Zamknij</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >Pobierz MicroCode</a
>
                na dysk <code>MIKROBIT</code>.
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">Connect</button>wybierz "BBC
                micro:bit CMSIS-DAP" i naciśnij "Connect" w oknie dialogowym.
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo MicroCode"
            loading="lazy"
            class="logo"
        />
        <h2>
            Ta przeglądarka nie obsługuje pobierania do micro:bit.
            <button>Zamknij</button>
        </h2>
        <p>
            MicroCode używa
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            do pobrania kodu na micro:bit. Aby włączyć tę funkcję, użyj
            Microsoft Edge, Google Chrome lub
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>,
            aby znaleźć kompatybilną przeglądarkę.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo MicroCode"
            loading="lazy"
        />
        <h2>
            Musisz zaktualizować MicroCode na swoim micro:bit!
            <button>Zamknij</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Pobierz MicroCode</a
>
                na dysk <code>MIKROBIT</code>.
            </li>
            <li>Poczekaj na ponowne uruchomienie micro:bit.</li>
            <li>
                <button class="webusbBtn">Connect</button>wybierz "BBC
                micro:bit CMSIS-DAP" i naciśnij "Connect" w oknie dialogowym.
            </li>
        </ol>
    </form>
</dialog>
