<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h3>
            Programmeer je micro:bit V2 met MicroCode!
            <button>Sluiten</button>
        </h3>
        <ol>
            <li>
                Sluit je micro:bit <b>V2</b>
                aan op je computer met behulp van de USB-kabel. (micro:bit V1 wordt niet
                ondersteund)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Download MicroCode</a
>
                naar de <code>MICROBIT</code> drive.
            </li>
            <li>Wacht tot de micro:bit opnieuw is opgestart.</li>
            <li>
                <button class="webusbBtn">Verbind</button>, kies "BBC
                micro:bit CMSIS-DAP" en druk op "Verbinden" in het dialoogvenster.
            </li>
            <li>Gebruik de editor om de micro:bit tot leven te brengen!</li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h2>
            Deze browser ondersteunt geen download naar de micro:bit.
            <button>Sluiten</button>
        </h2>
        <p>
            MicroCode gebruikt
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            om code te downloaden naar de micro:bit. Om deze functie in te schakelen, gebruik
            Microsoft Edge, Google Chrome of
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            om een compatibele browser te vinden.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
        />
        <h2>
            Je moet MicroCode updaten op je micro:bit!
            <button>Sluiten</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Download MicroCode</a
>
                naar de <code>MICROBIT</code> drive.
            </li>
            <li>Wacht tot de micro:bit opnieuw opstart.</li>
            <li>
                <button class="webusbBtn">Verbind</button>, kies "BBC
                micro:bit CMSIS-DAP" en druk op "Verbinden" in het dialoogvenster.
            </li>
        </ol>
    </form>
</dialog>
