<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logótipo do MicroCode"
            loading="lazy"
            class="logo"
        />
        <h3>
            Programa o teu micro:bit V2 com o MicroCode!
            <button>Fechar</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >Transfere o MicroCode</a
>
                para a unidade <code>MICROBIT</code>.
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">Ligar</button>, escolhe "BBC
                micro:bit CMSIS-DAP" e pressione "Conectar" na caixa de diálogo.
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logótipo do MicroCode"
            loading="lazy"
            class="logo"
        />
        <h2>
            Este navegador não suporta transferência para o micro:bit.
            <button>Fechar</button>
        </h2>
        <p>
            O MicroCode usa
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            para transferir código para o micro:bit. Para ativar este recurso, usa
            Microsoft Edge, Google Chrome ou
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            para encontrares um navegador compatível.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logótipo do MicroCode"
            loading="lazy"
        />
        <h2>
            Precisas atualizar o MicroCode no teu micro:bit!
            <button>Fechar</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Transfere o MicroCode</a
>
                para a unidade <code>MICROBIT</code>.
            </li>
            <li>Aguarda até que o micro:bit reinicie.</li>
            <li>
                <button class="webusbBtn">Ligar</button>, escolhe "BBC
                micro:bit CMSIS-DAP" e pressione "Conectar" na caixa de diálogo.
            </li>
        </ol>
    </form>
</dialog>
