<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode 标志"
            loading="lazy"
            class="logo"
        />
        <h3>
            使用 MicroCode编程您的 micro:bit V2 ！
            <button>关闭</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >将 MicroCode</a
>
                下载到 <code>MICROBIT</code> 的U盘中。
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">连接</button>, 选择 "BBC
                micro:bit CMSIS-DAP" 并在对话框中点"连接"。
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode 标志"
            loading="lazy"
            class="logo"
        />
        <h2>
            此浏览器不支持下载到 micro:bit。
            <button>关闭</button>
        </h2>
        <p>
            MicroCode使用
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            下载代码到 micro:bit。 若要启用此功能，请使用
            Microsoft Edge，Google Chrome 或
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            查找兼容的浏览器。
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode 标志"
            loading="lazy"
        />
        <h2>
            您需要在micro:bit上更新Microcode！
            <button>关闭</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>将 MicroCode</a
>
                下载到 <code>MICROBIT</code> 的U盘中。
            </li>
            <li>等待 micro:bit 重启。</li>
            <li>
                <button class="webusbBtn">连接</button>, 选择 "BBC
                micro:bit CMSIS-DAP" 并在对话框中点"连接"。
            </li>
        </ol>
    </form>
</dialog>
