<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h3>
            Programmiere deinen micro:bit V2 mit MicroCode!
            <button>Schließen</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >Lade MicroCode</a
>
                auf das <code>MICROBIT</code> Laufwerk herunter.
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">Verbinden</button>, wähle "BBC
                micro:bit CMSIS-DAP" und drücke "Verbinden" im Dialog.
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
            class="logo"
        />
        <h2>
            Dieser Browser unterstützt den Download zum micro:bit nicht.
            <button>Schließen</button>
        </h2>
        <p>
            MicroCode verwendet
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            um Code auf den micro:bit herunterzuladen. Um diese Funktion zu aktivieren, verwende
            Microsoft Edge, Google Chrome oder
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            , um einen kompatiblen Browser zu finden.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="MicroCode logo"
            loading="lazy"
        />
        <h2>
            Du musst MicroCode auf deinem micro:bit aktualisieren!
            <button>Schließen</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Lade MicroCode</a
>
                auf das <code>MICROBIT</code> Laufwerk herunter.
            </li>
            <li>Warte, bis der micro:bit neu gestartet wird.</li>
            <li>
                <button class="webusbBtn">Verbinden</button>, wähle "BBC
                micro:bit CMSIS-DAP" und drücke "Verbinden" im Dialog.
            </li>
        </ol>
    </form>
</dialog>
