<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo MicroCode"
            loading="lazy"
            class="logo"
        />
        <h3>
            Programuj svůj micro:bit V2 pomocí MicroCode!
            <button>Zavřít</button>
        </h3>
        <h4>Prepare your micro:bit V2</h4>
        <ul>
            <li>
                Connect your micro:bit <b>V2</b>
                to your computer. (micro:bit V1 is not supported)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download="microcode.hex"
                    >Stáhni si MicroCode</a
>
                na disk <code>MICROBIT</code>.
            </li>
            <li>Wait for the micro:bit to restart</li>
        </ul>
        <h4>Code on a <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">micro:bit Arcade Shield</a></h4>
        <a href="https://microsoft.github.io/microcode/docs/manual#arcade-shield">
        <img src="./assets/image_shield.jpg"
            alt="A photograph of a micro:bit Arcade shield displaying the microcode landing page"
            loading="lazy"
            class="shield" />
        </a>
        <ul>
            <li>
                Plug your micro:bit into your micro:bit Arcade shield and start coding!
            </li>
        </ul>
        <h4>Code in your Web Browser</h4>
        <ul>
            <li>
                <button class="webusbBtn">Připoj se</button>, vyber "BBC
                micro:bit CMSIS-DAP" a stiskni v dialogovém okně "Připojit".
            </li>
        </ul>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo MicroCode"
            loading="lazy"
            class="logo"
        />
        <h2>
            Tento prohlížeč nepodporuje nahrávání do micro:bitu.
            <button>Zavřít</button>
        </h2>
        <p>
            MicroCode používá
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            k nahrání kódu do micro:bitu. Chceš-li povolit tuto funkci, použij
            Microsoft Edge, Google Chrome nebo
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>
            pro nalezení kompatibilního prohlížeče.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Logo MicroCode"
            loading="lazy"
        />
        <h2>
            Musíš aktualizovat MicroCode na svém micro:bitu!
            <button>Zavřít</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Stáhni si MicroCode</a
>
                na disk <code>MICROBIT</code>.
            </li>
            <li>Počkej, než se micro:bit restartuje.</li>
            <li>
                <button class="webusbBtn">Připoj se</button>, vyber "BBC
                micro:bit CMSIS-DAP" a stiskni v dialogovém okně "Připojit".
            </li>
        </ol>
    </form>
</dialog>
