<dialog id="connectDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Логотип MicroCode"
            loading="lazy"
            class="logo"
        />
        <h3>
            Запрограммируйте ваш micro:bit V2 с помощью MicroCode!
            <button>Закрыть</button>
        </h3>
        <ol>
            <li>
                Подключите микро:бит <b>V2</b>
                к компьютеру с помощью кабеля USB. (micro:bit V1 не
                поддерживается)
            </li>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Загрузите MicroCode</a
>
                на устройство <code>MICROBIT</code>.
            </li>
            <li>Дождитесь перезапуска micro:bit.</li>
            <li>
                <button class="webusbBtn">Подключите</button>, выберите "BBC
                micro:bit CMSIS-DAP" и нажмите "Connect" в диалоговом окне.
            </li>
            <li>Используйте редактор, чтобы оживить micro:bit!</li>
        </ol>
    </form>
</dialog>
<dialog id="notsupportedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Логотип MicroCode"
            loading="lazy"
            class="logo"
        />
        <h2>
            Этот браузер не поддерживает загрузку на micro:bit.
            <button>Закрыть</button>
        </h2>
        <p>
            MicroCode использует
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/USB"
                >WebUSB</a
>
            для загрузки кода на micro:bit. Для включения этой функции используйте
            Microsoft Edge, Google Chrome или
            <a href="https://caniuse.com/webusb">https://caniuse.com/webusb</a>,
             чтобы найти совместимый браузер.
        </p>
    </form>
</dialog>
<dialog id="outdatedDlg">
    <form method="dialog">
        <img
            src="./assets/image_microcode.png"
            alt="Логотип MicroCode"
            loading="lazy"
        />
        <h2>
            Вам нужно обновить MicroCode на ваш micro:bit!
            <button>Закрыть</button>
        </h2>
        <ol>
            <li>
                <a
                    class="firmware-download"
                    href="https://microsoft.github.io/microcode/assets/firmware.hex"
                    download
>Загрузите MicroCode</a
>
                на устройство <code>MICROBIT</code>.
            </li>
            <li>Дождитесь перезапуска micro:bit.</li>
            <li>
                <button class="webusbBtn">Подключите</button>, выберите "BBC
                micro:bit CMSIS-DAP" и нажмите "Connect" в диалоговом окне.
            </li>
        </ol>
    </form>
</dialog>
