<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ site.github.project_title }}</title>
        <meta name="description" content="{{ site.github.project_tagline }}" />
        <meta name="author" content="Microsoft" />
        <meta
            name="keywords"
            content="microbit,coding,pre-reader,microcode,education,microbit,ks1,csk3,k-3,k-5,computing"
        />
    </head>

    <body id="root" data-build="{{ site.github.build_revision }}">
        <p>
            MicroCode has moved:
            <a href="https://microbit-apps.github.io/microcode-classic/docs/manual">
                https://microbit-apps.github.io/microcode-classic/docs/manual
            </a>
        </p>
        {% include footer.html %}
    </body>
</html>
