<footer id="footer">
    <a
        id="userguide"
        target="blank"
        rel="nofollow noopener"
        href="https://{{ site.github.owner_name }}.github.io/{{ site.github.repository_name }}/docs/manual"
        >User Guide</a
    >
    <button
        id="voicebtn"
        aria-label="enable or disable voice reading tooltips"
    >
        tooltip reader
    </button>
    <button
        id="screenshotbtn"
        aria-label="save program screenshot as image"
    >
        screenshot
    </button>
    <a
        class="legal"
        rel="nofollow noopener"
        href="https://privacy.microsoft.com/en-us/privacystatement"
        >Privacy &amp; Cookies</a
    >
    <a
        class="legal"
        rel="nofollow noopener"
        href="https://www.microsoft.com/en-us/legal/terms-of-use"
        >Terms Of Use</a
    >
</footer>