<link rel="alternate" hreflang="en" href="/{{ site.github.repository_name }}/en" />
<link rel="alternate" hreflang="eu" href="/{{ site.github.repository_name }}/eu" />
<link rel="alternate" hreflang="ca" href="/{{ site.github.repository_name }}/ca" />
<link rel="alternate" hreflang="zh-CN" href="/{{ site.github.repository_name }}/zh-CN" />
<link rel="alternate" hreflang="zh-HK" href="/{{ site.github.repository_name }}/zh-HK" />
<link rel="alternate" hreflang="hr" href="/{{ site.github.repository_name }}/hr" />
<link rel="alternate" hreflang="nl" href="/{{ site.github.repository_name }}/nl" />
<link rel="alternate" hreflang="fil" href="/{{ site.github.repository_name }}/fil" />
<link rel="alternate" hreflang="fr" href="/{{ site.github.repository_name }}/fr" />
<link rel="alternate" hreflang="fr-CA" href="/{{ site.github.repository_name }}/fr-CA" />
<link rel="alternate" hreflang="de" href="/{{ site.github.repository_name }}/de" />
<link rel="alternate" hreflang="it" href="/{{ site.github.repository_name }}/it" />
<link rel="alternate" hreflang="ja" href="/{{ site.github.repository_name }}/ja" />
<link rel="alternate" hreflang="pl" href="/{{ site.github.repository_name }}/pl" />
<link rel="alternate" hreflang="pt-BR" href="/{{ site.github.repository_name }}/pt-BR" />
<link rel="alternate" hreflang="es-ES" href="/{{ site.github.repository_name }}/es-ES" />
<link rel="alternate" hreflang="es-MX" href="/{{ site.github.repository_name }}/es-MX" />
<link rel="alternate" hreflang="tr" href="/{{ site.github.repository_name }}/tr" />
<link rel="alternate" hreflang="cy" href="/{{ site.github.repository_name }}/cy" />