<link rel="alternate" hreflang="en" href="/{{ site.github.repository_name }}/en" />
<link rel="alternate" hreflang="ca" href="/{{ site.github.repository_name }}/ca" />
<link rel="alternate" hreflang="zh-CN" href="/{{ site.github.repository_name }}/zh-CN" />
<link rel="alternate" hreflang="cs" href="/{{ site.github.repository_name }}/cs" />
<link rel="alternate" hreflang="fr" href="/{{ site.github.repository_name }}/fr" />
<link rel="alternate" hreflang="fr-CA" href="/{{ site.github.repository_name }}/fr-CA" />
<link rel="alternate" hreflang="de" href="/{{ site.github.repository_name }}/de" />
<link rel="alternate" hreflang="hu" href="/{{ site.github.repository_name }}/hu" />
<link rel="alternate" hreflang="ko" href="/{{ site.github.repository_name }}/ko" />
<link rel="alternate" hreflang="pl" href="/{{ site.github.repository_name }}/pl" />
<link rel="alternate" hreflang="pt-PT" href="/{{ site.github.repository_name }}/pt-PT" />
<link rel="alternate" hreflang="ru" href="/{{ site.github.repository_name }}/ru" />
<link rel="alternate" hreflang="es-ES" href="/{{ site.github.repository_name }}/es-ES" />
<link rel="alternate" hreflang="es-MX" href="/{{ site.github.repository_name }}/es-MX" />