---
---

@import "{{ site.theme }}";

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
body {
    background-repeat: repeat-x;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAAAgCAYAAABjE6FEAAAAAXNSR0IArs4c6QAAAnlJREFUeF7tnTtSAzEQRNcp5/A9ICUlhpuRmRRSpxyEc5CaKhtTsNie1WdGkvs5c+1Ko3ndagknrKbb193EBwIQgIAggRUBKKg6LUMAAnsCBCBGgAAEZAkQgLLS0zgEIDBcAO7eHw5X17u3LPVKx1tFvee36vPcl8Bu+3jw3/2Lb6HC2Xv3YfT6ztUjAAuNNh8eLWzl5TOdQYAArGOR6H2yOABrL6z2fLn45+voZV3eAerVp9e87jwGucHl+tx73CgHwFIO/26AtY1de76ljVkbqZd1WevM7fc4zqtPr3ndeRCARZa6+gAsojPA4KiNm4pilBtqal+jvp/qk9T3LS6157PqqT4f7jfAUqF6NRYBWKps3fGpPkl931pt7fmseqrPzQCsfeVF2MtWg4/qVjz03eogLPVd6XhLda/5CUCLfPBzL6GD26BcJgEC8DQ4r31hBmCmjtWG1b6BWgvzAm3Vbf08uu/oeq35ptaHTyqxvPcJwBk3VeNF9x1dL297tBsFnxj2zQNwVKFT1x19k42xzzT11leqLkdOvfURpV8vdVrxJwAzHZC60VoJnNne4mG99ZWqCwG4WGrXF1v5qHkAulJlcghAAAIXCBCA2AMCEJAlQADKSk/jEIAAAYgHIAABWQJnA3D99LmH8rG5OQmH5/DBH+yP0fOBACTgOeBOEOCA1zjgfwJwLjjf/xoAHvD4fePFD9fhBwLw+waIoa/D0Mc/ydATPZccWKv184b/Cyz7EzCNQ0CbAAGorT/dQ0CaAAEoLT/NQ0CbAAGorT/dQ0CaAAEoLT/NQ0CbAAGorT/dQ0CaAAEoLT/NQ0CbAAGorT/dQ0CawBcBIQ1RzoWekwAAAABJRU5ErkJggg==);
}
.page-header {
    color: #000;
    background: none !important;
}
img.pixels {
    image-rendering: pixelated;
}
img.icon {
    image-rendering: pixelated;
    min-width: 5rem;
    background: #fff;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-bottom: 0.25rem;
    border: solid 1px #000;
}
p img.icon,
li img.icon,
h4 img.icon {
    width: 1.5rem;
    min-width: unset;
}

img.icon-sample {
    image-rendering: pixelated;
    width: 6rem;
    background: transparent;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-bottom: 0.25rem;
    border: solid 1px #000;
}

video {
    width: 100%;
}

video.sample,
img.sample,
img.rule {
    image-rendering: pixelated;
    width: max(22rem, 60%);
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    border: solid 1px #000;
}

img.photo {
    width: max(22rem, 80%);
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
}

img.screenshot {
    width: max(22rem, 60%);
    image-rendering: pixelated;
    border-radius: 0.25rem;
    outline: solid 1px #000;
}

img.fluid {
    width: 100%;
}

video {
    width: 100%;
}

iframe.editor {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
}

.btn-github {
    display: none !important;
}

strong {
    font-weight: bolder;
    font-size: 110%;
}
