---
---

@import "{{ site.theme }}";

img.icon {
    image-rendering: pixelated;
    min-width: 5rem;
    background: #fff;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-bottom: 0.25rem;
}

img.icon-sample {
    image-rendering: pixelated;
    width: 8rem;
    background: #fff;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-bottom: 0.25rem;
}

img.sample {
    image-rendering: pixelated;
    width: 100%;
    margin-bottom: 0.25rem;
}

p img {
    width: 100%;
}

video {
    width: 100%;
}

iframe.editor {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
}

.btn-github {
    display: none !important;
}
