---
---

@import "{{ site.theme }}";

img {
    image-rendering: pixelated;
    min-width: 5rem;
}

p img {
    width: 100%;
}

video {
    width: 100%;
}

iframe.editor {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
}

.btn-github {
    display: none !important;
}
