---
---

@import "{{ site.theme }}";

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

img.pixels {
    image-rendering: pixelated;
}
img.icon {
    image-rendering: pixelated;
    min-width: 5rem;
    background: #fff;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-bottom: 0.25rem;
}
p img.icon,
li img.icon,
h4 img.icon {
    width: 1.5rem;
    min-width: unset;
}

img.icon-sample {
    image-rendering: pixelated;
    width: 6rem;
    background: transparent;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-bottom: 0.25rem;
}

img.sample,
img.rule {
    image-rendering: pixelated;
    width: max(22rem, 60%);
    margin-bottom: 0.25rem;
}

img.screenshot {
    width: max(22rem, 60%);
    image-rendering: pixelated;
}

img.fluid {
    width: 100%;
}

video {
    width: 100%;
}

iframe.editor {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
}

.btn-github {
    display: none !important;
}

strong {
    font-weight: bolder;
    font-size: 110%;
}
