<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5B406B">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">MicroCode: {{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <p>
        <a href="https://{{ site.github.owner_name }}.github.io/{{ site.github.repository_name }}/">Editor</a> |
        <a href="https://{{ site.github.owner_name }}.github.io/{{ site.github.repository_name }}/docs/manual">User guide</a> |
        <a href="https://{{ site.github.owner_name }}.github.io/{{ site.github.repository_name }}/docs/language">Language</a> |
        <a href="https://{{ site.github.owner_name }}.github.io/{{ site.github.repository_name }}/docs/samples">Samples</a>
      </p>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        Copyright (c) Microsoft,
    <a
        class="legal"
        rel="nofollow noopener"
        href="https://privacy.microsoft.com/en-us/privacystatement"
        >Privacy &amp; Cookies</a
    >
    <a
        class="legal"
        rel="nofollow noopener"
        href="https://www.microsoft.com/en-us/legal/terms-of-use"
        >Terms Of Use</a
    >      </footer>
    </main>
  </body>
</html>
