name: Build

on:
    push:

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Cache npm and makecode
              uses: actions/cache@v2
              with:
                  path: |
                      ~/.npm
                      ~/.pxt/mkc-cache
                  key: ${{ runner.os }}-${{ hashFiles('pxt.json') }}-${{ hashFiles('mkc*json') }}
                  restore-keys: |
                      ${{ runner.os }}-
            - name: npm install makecode@0.34.5
              run: |
                  npm install -g makecode@0.34.5
            - name: build js
              run: |
                  makecode --java-script
            - name: build hardware N3
              run: |
                  makecode --hw N3
            - name: build robot
              run: |
                  cd robot
                  makecode
                  makecode -c mkc-elecfreakscutebot.json
                  makecode -c mkc-elecfreakscutebotpro.json
                  makecode -c mkc-yahboomtinybit.json
                  makecode -c mkc-keystudiominismartrobot.json
